<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <title>Page</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"></link>
    <link rel="stylesheet" th:href="@{/css/main.css}" ></link>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
    <!-- Javascript -->
    <script tytpe="text/javascript" th:src="@{/js/lib/jquery.js}" />
    <script type="text/javascript" th:src="@{/js/lib/angular.js}" />
    <script type="text/javascript" th:src="@{/js/lib/materialize.js}" />

	 <script type="text/javascript" th:src="@{/js/src/tool-controller.js}" />
	 <script type="text/javascript" th:src="@{/js/src/employee-controller.js}" />
    <script type="text/javascript" th:src="@{/js/src/task-controller.js}" />
   	<script type="text/javascript" th:src="@{/js/src/tab-controller.js}" />
</head>
<body>
	<nav class="nav-extended">
    <div class="nav-wrapper">
      
      <a href="#" class="brand-logo">Campo de Golf</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Configuracion</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Configuration</a></li>
       
      </ul>
    </div>
    <!--    -->
    <div id="tabPanel" class="nav-content" ng-app="tabApp" ng-controller="navTabController">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a id="tabTask" ng-click="changeTab($event,'taskPanel')" class="active">Tareas</a></li>
        <li class="tab"><a id="tabEmployee" ng-click="changeTab($event,'employeePanel')">Empleados</a></li>
        <li class="tab"><a id="tabTool" ng-click="changeTab($event,'toolPanel')">Herramientas</a></li>
      </ul>
    </div>
  </nav>
  <div id="taskPanel" class="container"  ng-app="taskApp" ng-controller="taskController">
  
  
 	 <div class="action-panel">
  		 <div class="chip">
     		<img src="img/in_progress.png" alt="En Proceso"/>
    	 	En Proceso
  		</div>
  	 	<div class="chip">
     		<img src="img/blocked.png" alt="Bloqueada"/>
    	 	Bloqueada1
  		</div>
  	</div>
  	<div>
		<ul ng-repeat="task in taskList" class="collapsible" data-collapsible="accordion">
			<li class="collection-item">
                <div id="task_id" class="collapsible-header" value="{{task.id}}"><i class="material-icons">place</i>{{task.title}}</div>
                <div class="collapsible-body">
                	<form class="col s11">
                       <div class="row">
                           <div class="input-field col s9">
                               <input id="task_title" type="text" class="validate" value="{{task.title}}"></input>
                               <label for="task_title"></label>
                            </div>
                            <div class="input-field cols s3">
                                <a class="waves-effect waves-light btn green" ng-click="save()"><i class="material-icons left">done</i>Hecho</a>
                            </div>
                       </div>
                       <div class="row">
                            <div class="input-field col s4">
                               <select id="task_employee" ng-model="task.personAssignedId" class="browser-default">
                                    <option value="" class="disabled selected">Asignar</option>
                                    <option ng-repeat="employee in employeeList" value="{{employee.id}}">{{employee.nombre}}</option>
                                    
                                </select>
                            </div>
                            <div class="input-field col s4">
                               <select id="task_tool" class="browser-default">
                                    <option value="" class="disabled selected">Herramienta</option>
                                    <option value="1">Ninguna</option>
                                    
                                </select>
                            </div>
                       </div> 
     				   <div class="row">
                            <div class="input-field col s11">
                                <textarea id="task_description" class="materialize-textarea">{{task.description}}</textarea>
                                <label for="textarea1"></label>
                            </div>
                       </div>
                    </form>
            	
                </div>
            </li>
		</ul>
  	</div>
  </div>	
  <div id="employeePanel" class="container hide" ng-app="employeeApp" ng-controller="employeeController">
  	 <div class="action-panel">
  		 <div class="chip">
     		<img src="img/in_progress.png" alt="En Proceso"/>
    	 	En Proceso
  		</div>
  	 	<div class="chip">
     		<img src="img/blocked.png" alt="Bloqueada"/>
    	 	Bloqueada1
  		</div>
  	</div>
  	<div>
		<ul ng-repeat="employee in employeeList" class="collapsible" data-collapsible="accordion">
			<li class="collection-item">
                <div class="collapsible-header"><i class="material-icons">place</i>{{employee.nombre}}</div>
                <div class="collapsible-body"><span>{{employee.apellido1}}</span></div>
            </li>
		</ul>
  	</div>
  </div>	
  <div id="toolPanel" class="container hide" ng-app="toolApp" ng-controller="toolController">
  	 <div class="action-panel">
  		 <div class="chip">
     		<img src="img/in_progress.png" alt="En Proceso"/>
    	 	En Proceso
  		</div>
  	 	<div class="chip">
     		<img src="img/blocked.png" alt="Bloqueada"/>
    	 	Bloqueada1
  		</div>
  	</div>
  	<div>
		<ul ng-repeat="tool in toolList" class="collapsible" data-collapsible="accordion">
			<li class="collection-item">
                <div class="collapsible-header"><i class="material-icons">place</i>{{tool.nombre}}</div>
                <div class="collapsible-body"><span>{{tool.estado}}</span></div>
            </li>
		</ul>
  	</div>
  </div>	  	
</body>

</html>