
                    <form class="col s11">
                       <div class="row">
                           <div class="input-field col s9">
                               <input id="task_title" type="text" class="validate" value="{{task.title}}"></input>
                               <label for="task_title"></label>
                            </div>
                            <div class="input-field cols s3">
                                <a class="waves-effect waves-light btn green" ng-click="save()"><i class="material-icons left">done</i>Hecho</a>
                            </div>
                       </div>
                       <div class="row">
                            <div id="task_employee" class="input-field col s4">
                               <select id="employee_dropdown" ng-change="assignEmployee()" ng-model="selectedEmployee" class="browser-default" >
                                    <option value="" class="disabled selected">Asignar</option>
                                    <option ng-repeat="employee in employeeList" value="{{employee.id}}">
                                        {{employee.name}}
                                    </option>
                                </select>
                                <span ng-repeat="employeeId in task.personAssignedIds" 
                                     value="{{employeeId}}" class="chip">
                                    {{ employeeMap[employeeId].name + " " + employeeMap[employeeId].surname }}
                                    <i ng-click="unassignEmployee(employeeId)" class="close material-icons">close</i>
                                </span>
                                
                            </div>
                            <div id="task_tool" class="input-field col s4">
                               <select id="tool_dropdown" ng-change="assignTool()" ng-model="selectedTool" class="browser-default">
                                    <option value="" class="disabled selected">Herramienta</option>
                                   <option ng-repeat="tool in toolList" value="{{tool.id}}">{{tool.name}}</option>
                                </select>
                                <span ng-repeat="toolId in task.toolAssignedIds" 
                                     value="{{toolId}}" class="chip">
                                    {{ toolMap[toolId].name }}
                                    <i ng-click="unassignTool(toolId)" class="close material-icons">close</i>
                                </span>
                                
                            </div>
                       </div> 
                       <div class="row">
                            <div class="input-field col s11">
                                <textarea id="task_description" class="materialize-textarea">{{task.description}}</textarea>
                                <label for="textarea1"></label>
                            </div>
                       </div>
                    </form>
                
 